<form (ngSubmit)="add(addKnightForm)" #addKnightForm="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">name:</label>
    <input name="name" class="form-control" id="name" placeholder="name" ngModel>
  </div>

  <input class="btn btn-primary" type="submit" value="Create">
</form>
