<form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input name="username" class="form-control" id="username" placeholder="username" ngModel>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="password" ngModel>
  </div>

  <input class="btn btn-primary" type="submit" value="Login">
</form>
