<table class="table" *ngIf="page">
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
  </tr>
  <tr *ngFor="let knight of page?.content">
    <td>{{knight.id}}</td>
    <td>{{knight.name}}</td>
  </tr>
</table>
<nav aria-label="Page navigation example" *ngIf="page">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{'disabled':currentPage <= 0}">
      <a class="page-link" (click)="getPage(currentPage > 0 ? currentPage - 1: currentPage)" >Previous</a>
    </li>
    <li *ngFor="let page of [].constructor(page.totalPages);let i = index" class="page-item">
      <a class="page-link" (click)="getPage(i)">{{i}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="getPage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
