<h1>My Kingdom</h1>
<h2>What do you want to do, my king?</h2>
<ul>
  <li><a routerLink="/knight/list" >Show knights</a></li>
  <li><a routerLink="/knight/add" >Add knights</a></li>
  <li><a routerLink="/quest/add" >Add quests</a></li>
  <li><a routerLink="/quest/list" >Show quests</a></li>
</ul>

<div id="main-content" class="container">


  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">What is your name?</label>
          <input type="text" [(ngModel)]="messageSend" class="form-control" name="message" id="name"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <p>My received messages:</p>
      <p *ngFor="let message of messages">{{ message.message }}</p>
    </div>
  </div>

</div>
