<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<img  th:src="|cid:${logo}|">
<h4><span th:text="${name}">Daffy Duck</span> says...</h4>
<i><span th:text="${text}">Ha ha! It's me, again!</span></i>
<h3>That's all folks</h3>
</body>
</html>