<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">King main</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            My options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="knight/list">Show knights</a></li>
            <li><a class="dropdown-item" routerLink="knight/add">Add knights</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="quest/list">Show Quest</a></li>
            <li><a class="dropdown-item" routerLink="quest/list">Add Quest</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" *ngIf="user">
        <button class="btn btn-outline-success" type="button" (click)="logout()">Logout</button>
      </form>
      <span class="navbar-text" *ngIf="user">
          Welcome king {{user}}
      </span>
    </div>
  </div>
</nav>
